@charset "UTF-8";.main .aside {
    width: 60px;
    background-color: #f9f9f9;
    flex: 0 0 60px
}

.aside li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px
}

html {
    width: 520px
}

.content {
    padding: 12px
}


/*! bulma.io v0.9.3 | MIT License | github.com/jgthms/bulma */
.button,.file-cta,.file-name,.input,.pagination-ellipsis,.pagination-link,.pagination-next,.pagination-previous,.select select,.taginput .taginput-container.is-focusable,.textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(.5em - 1px);
    padding-left: calc(.75em - 1px);
    padding-right: calc(.75em - 1px);
    padding-top: calc(.5em - 1px);
    position: relative;
    vertical-align: top
}

.button:active,.button:focus,.file-cta:active,.file-cta:focus,.file-name:active,.file-name:focus,.input:active,.input:focus,.is-active.button,.is-active.file-cta,.is-active.file-name,.is-active.input,.is-active.pagination-ellipsis,.is-active.pagination-link,.is-active.pagination-next,.is-active.pagination-previous,.is-active.textarea,.is-focused.button,.is-focused.file-cta,.is-focused.file-name,.is-focused.input,.is-focused.pagination-ellipsis,.is-focused.pagination-link,.is-focused.pagination-next,.is-focused.pagination-previous,.is-focused.textarea,.pagination-ellipsis:active,.pagination-ellipsis:focus,.pagination-link:active,.pagination-link:focus,.pagination-next:active,.pagination-next:focus,.pagination-previous:active,.pagination-previous:focus,.select select.is-active,.select select.is-focused,.select select:active,.select select:focus,.taginput .is-active.taginput-container.is-focusable,.taginput .is-focused.taginput-container.is-focusable,.taginput .taginput-container.is-focusable:active,.taginput .taginput-container.is-focusable:focus,.textarea:active,.textarea:focus {
    outline: none
}


.b-checkbox.checkbox,.b-radio.radio,.breadcrumb,.button,.carousel,.carousel-list,.file,.is-unselectable,.pagination-ellipsis,.pagination-link,.pagination-next,.pagination-previous,.switch,.tabs {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
.navbar-burger,blockquote,body,dd,dl,dt,fieldset,figure,h1,h2,h3,h4,h5,h6,hr,html,iframe,legend,li,ol,p,pre,textarea,ul {
    margin: 0;
    padding: 0
}

ul {
    list-style: none
}

button,input,select,textarea {
    margin: 0
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*,:after,:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

html {
    background-color: #fff;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}

article,aside,figure,footer,header,hgroup,section {
    display: block
}

body,button,input,optgroup,select,textarea {
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif
}

body {
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5
}

a {
    color: #7957d5;
    cursor: pointer;
    text-decoration: none
}

input[type=checkbox],input[type=radio] {
    vertical-align: baseline
}

span {
    font-style: inherit;
    font-weight: inherit
}

.button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: calc(.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(.5em - 1px);
    text-align: center;
    white-space: nowrap
}


.button .icon,.button .icon.is-large,.button .icon.is-medium,.button .icon.is-small {
    height: 1.5em;
    width: 1.5em
}

.button .icon:first-child:not(:last-child) {
    margin-left: calc(-.5em - 1px);
    margin-right: .25em
}

.button .icon:last-child:not(:first-child) {
    margin-left: .25em;
    margin-right: calc(-.5em - 1px)
}

.button .icon:first-child:last-child {
    margin-left: calc(-.5em - 1px);
    margin-right: calc(-.5em - 1px)
}

.button.is-active,.button:active {
    border-color: #4a4a4a;
    color: #363636
}

.button.is-white {
    background-color: #fff;
    border-color: transparent;
    color: #0a0a0a
}

.button.is-white.is-active,.button.is-white:active {
    background-color: #f2f2f2;
    border-color: transparent;
    color: #0a0a0a
}

.button.is-info {
    background-color: #167df0;
    border-color: transparent;
    color: #fff
}

.button.is-success {
    background-color: #48c78e;
    border-color: transparent;
    color: #fff
}

.button.is-small {
    font-size: .75rem
}

.button.is-medium {
    font-size: 1.25rem
}

.button.is-fullwidth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.button.is-rounded {
    border-radius: 9999px;
    padding-left: 1.25em;
    padding-right: 1.25em
}

.content.is-small {
    font-size: .75rem
}

.icon {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem
}

.icon.is-small {
    height: 1rem;
    width: 1rem
}

.dropdown {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    vertical-align: top
}


.menu {
    font-size: 1rem
}


.menu-list {
    line-height: 1.25
}

.menu-list a {
    border-radius: 2px;
    color: #4a4a4a;
    display: block;
    padding: .5em .75em
}

.menu-list a.is-active {
    background-color: #7957d5;
    color: #fff
}

.has-text-info {
    color: #167df0!important
}

.has-text-grey {
    color: #7a7a7a!important
}

.has-text-grey-light {
    color: #b5b5b5!important
}

.is-justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important
}

.is-align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important
}

.is-flex-grow-1 {
    -webkit-box-flex: 1!important;
    -ms-flex-positive: 1!important;
    flex-grow: 1!important
}

.my-0 {
    margin-top: 0!important;
    margin-bottom: 0!important
}

.mb-2 {
    margin-bottom: .5rem!important
}

.ml-3,.mx-3 {
    margin-left: .75rem!important
}

.mt-5 {
    margin-top: 1.5rem!important
}

.pl-5,.px-5 {
    padding-left: 1.5rem!important
}

.px-5 {
    padding-right: 1.5rem!important
}

.has-text-centered {
    text-align: center!important
}

.has-text-left {
    text-align: left!important
}

.has-text-right {
    text-align: right!important
}

.has-text-weight-medium {
    font-weight: 500!important
}

.has-text-weight-bold {
    font-weight: 700!important
}

.is-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important
}

.collapse .collapse-trigger {
    display: inline;
    cursor: pointer
}

.collapse .collapse-content {
    display: inherit
}

.icon {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: inherit
}

.switch {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin-right: .5em
}

.switch input[type=checkbox] {
    position: absolute;
    left: 0;
    opacity: 0;
    outline: none;
    z-index: -1
}

.switch input[type=checkbox]+.check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 2.75em;
    height: 1.575em;
    padding: .2em;
    background: #b5b5b5;
    border-radius: 4px;
    -webkit-transition: background .15s ease-out,-webkit-box-shadow .15s ease-out;
    transition: background .15s ease-out,-webkit-box-shadow .15s ease-out;
    transition: background .15s ease-out,box-shadow .15s ease-out;
    transition: background .15s ease-out,box-shadow .15s ease-out,-webkit-box-shadow .15s ease-out
}


.switch input[type=checkbox]+.check:before {
    content: "";
    display: block;
    border-radius: 4px;
    width: 1.175em;
    height: 1.175em;
    background: #f5f5f5;
    -webkit-box-shadow: 0 3px 1px 0 rgba(0,0,0,.05),0 2px 2px 0 rgba(0,0,0,.1),0 3px 3px 0 rgba(0,0,0,.05);
    box-shadow: 0 3px 1px 0 rgba(0,0,0,.05),0 2px 2px 0 rgba(0,0,0,.1),0 3px 3px 0 rgba(0,0,0,.05);
    -webkit-transition: -webkit-transform .15s ease-out;
    transition: -webkit-transform .15s ease-out;
    transition: transform .15s ease-out;
    transition: transform .15s ease-out,-webkit-transform .15s ease-out;
    will-change: transform;
    -webkit-transform-origin: left;
    transform-origin: left
}

.switch:not(.has-left-label) .control-label {
    padding-left: calc(.75em - 1px)
}

.switch.is-rounded input[type=checkbox]+.check,.switch.is-rounded input[type=checkbox]+.check:before {
    border-radius: 9999px
}

:host,:root {
    --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands"
}


:host,:root {
    --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free"
}

:host,:root {
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free"
}

.fa-solid,.fas {
    font-family: Font Awesome\ 6 Free;
    font-weight: 900
}

.fa,.fa-brands,.fa-duotone,.fa-light,.fa-regular,.fa-solid,.fa-thin,.fab,.fad,.fal,.far,.fas,.fat {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display,inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto
}

.fa-angle-down:before {
    content: "\f107"
}


.fa-circle-info:before,.fa-info-circle:before {
    content: "\f05a"
}

.fa-circle-question:before,.fa-question-circle:before {
    content: "\f059"
}


.fa-crown:before {
    content: "\f521"
}

.fa-arrow-right-from-file:before,.fa-file-export:before {
    content: "\f56e"
}

.fa-cog:before,.fa-gear:before {
    content: "\f013"
}


.fa-home-lg:before,.fa-house-chimney:before {
    content: "\e3af"
}


.fa-list-dots:before,.fa-list-ul:before {
    content: "\f0ca"
}


.fa-magnifying-glass:before,.fa-search:before {
    content: "\f002"
}
